html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Google Sans Flex', sans-serif;
    background-color: #f4f4f4; /* ten kolor nie jest tak jasny tak totalna biel, jest przyjemniejszy dla oczu */
    color: #333;
    height:100%;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* CZĘŚĆ NAWIGACYJNA */
/* .scrolled jest aktywowane przez JS, patrz layout.js */

/* BAZA – wspólne dla wszystkich szerokości */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f4f4f4;
  padding: 10px 30px;
  box-shadow: 0 5px 4px rgba(0,0,0,0.1);
}

nav img{
  width:191px;
  height:70px;
}

nav.scrolled {
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  transition: padding 0.2s ease;
}

nav.scrolled .logo {
  padding: 0;
}

.nav-link{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: padding 0.2s, background-color 0.2s, color 0.2s;
}

nav.scrolled .nav-link {
  padding: 4px 8px;
}

.nav-link:hover{
  background-color: #21a92f;
  color: white;
}

.nav-toggle {
  display: none;
}

/* DESKTOP ≥ 769px */

@media (min-width: 769px) {
  nav .menu{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 15px;
  }
}

/* MOBILE ≤ 768px */

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    gap: 0;
  }

  nav.nav-open .menu {
    display: flex;
  }

  .nav-toggle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
  }

  .nav-toggle span {
    display: block;
    height: 2px;
    width: 100%;
    background: #333;
    border-radius: 1px;
  }

  nav .menu {
    list-style: none;
    padding-left: 0;
  }

  nav .menu li {
    border-top: 1px solid rgba(0,0,0,0.05);
  }

  nav .menu .nav-link {
    display: block;
    padding: 20px 0;
  }
}

/* CZĘŚĆ GŁÓWNA */
/* ============ INDEX.HTML I ELEMENTY WSPÓLNE DLA PODSTRON ============ */

.tytul-sec {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('https://placehold.co/1920x1080');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.tytul-sec h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 0;
}

@media (max-width: 768px) {
    .tytul-sec {
        background-attachment: scroll;
        height: 200px;
        padding: 50px 20px;
    }

    .tytul-sec h1 {
        font-size: 1.5rem;
    }
}

.wrapper-main{
    padding: 20px 40px;
}

.projekt-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.projekt-foot img {
  max-width:1000px;
  width: 100%;
  height: auto;
}

/* ZALETY FIRMY */

.ficzerki {
  text-align: center;
}

.ficzerki h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.ficzerki-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.ficzerek-box {
  flex: 1 1 30%;
  max-width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.ficzerek-ikona {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #03FF20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #ffffff;
}

.ficzerek-box h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #222;
}

.ficzerek-box p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #444;
}

/* O FIRMIE */

.firma-wrapper {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.firma-img {
  max-width:400px;
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.firma-opis {
  flex: 1;
}

.firma-opis h2 {
  font-size: 2rem;
  margin-top: 0;
}

.firma-opis p {
  line-height: 1.6;
  margin-bottom: 1em;
  color: #333;
}

.firma-zaproszenie {
  text-align: right;
  font-weight: bold;
  margin-top: 40px;
  color: #444;
}

/* REALIZACJE */
.realizacje-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.realizacje h2{
  text-align: center;
}

.realizacje-wrapper img {
  max-width: 100%;
  width: 400px;
  height:auto;
}

.naglowek-sec{
    background-color: #019308;
    height: 90px;
    display: flex;
    color: white;
    position: relative;
}

.naglowek-sec h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    padding: 30px 50px;
    margin: 0;
}

/* cookies */

.cookie-banner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #00510f;
  color: #fff;
  font-size: 0.9rem;
}

.cookie-banner--content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 12px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.cookie-banner--buttons {
  display: flex;
  gap: 8px;
}

.cookie-banner--buttons button, .cookie-banner--buttons a {
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
}

#cookie-accept-all {
  background: #21a93c;
  color: #fff;
}

#cookie-reject{
  background-color: #333;
  color:#fff;
}

#cookie-learn-more {
  background: #012a93;
  color: #fff;
  text-decoration: none;
}

/* lightbox – wyłączenie Images x of y i responsywka*/

.lightbox{
  overflow-x: hidden;
}

 .lb-number {
  display: none !important;
}

@media (max-width: 768px) {
    .lightbox {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}

/* ============ KONTAKT.HTML ============ */
.kontakt-info {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

.kontakt-info h1 {
  text-align: center;
  margin-bottom: 30px;
}

.kontakt-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 50px;
  box-sizing: border-box;
}

.kontakt-lista {
  flex: 1 1 45%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.kontakt-lista li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.kontakt-lista i {
  background-color: #0b8a00;
  color: white;
  border-radius: 50%;
  padding:6px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 12px;
}

.kontakt-lista a {
  color: #333;
  text-decoration: none;
}

.kontakt-lista a:hover {
  text-decoration: underline;
}

.kontakt-gmaps{
  flex: 1 1 45%;
  border-radius: 10px;
  overflow: hidden;
}

.kontakt-gmaps iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
}

.kontakt-logo{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
  gap:24px;
}

.smol{
    max-width: 191px;
    height: auto;
}

.logo-divider{
  width:1px;
  height:40px;
  background-color:#999;
}

@media (max-width: 424px) {
  .kontakt-logo {
    flex-direction: column;
  }
  .logo-divider{
    display:none;
  }
}

/* ============ GALERIA.HTML I REFERENCJE.HTML ============ */
.galref-sec{
  padding: 40px 20px;
  text-align: center;
}

.galref-wrapper{
  margin-top: 40px;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.galref-wrapper a {
  margin:7px;
  display: inline-block;
}

.galref-wrapper img {
  transition: 0.3s ease;
}

.galref-wrapper img:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px #555;
}

.galref-poziom img{
  width:300px;
  height:auto;
}

.galref-pion img{
  width:auto;
  height:300px;
}

/* ============ O-FIRMIE.HTML ============ */
/* ten w sporej części odnosi się do części głównej, patrz wyżej */

.o-firmie.podstrona-o-f, .realizacje.podstrona-o-f{
  padding: 40px 20px;
}

.o-firmie-img {
  width: auto;
  height: 400px;
  border-radius: 4px;
  object-fit: cover;
}

.o-firmie-refy {
  padding: 60px 20px;
  padding-top:20px;
  text-align: center;
}

.refy-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  min-height: 150px;
}

.referencja {
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 0;
  padding: 20px;
  box-sizing: border-box;
}

.referencja.aktywna {
  opacity: 1;
  z-index: 1;
}

.ref-tekst {
  font-style: italic;
  color: #444;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.ref-autor {
  background-color: #008a05;
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
}

.ref-autor img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.ref-opis {
  text-align: left;
}
/* ============ 404.HTML ============ */

.blad-404{
  padding: 95px 20px;
}

.blad-404 h1{
  padding-left: 100px;
  font-size: 3rem;
}

.blad-404 p{
  padding-left: 80px;
}

@media (max-width: 768px) {
  .blad-404 h1{
    padding-left: 0;
    text-align: center;
  }

  .blad-404 p{
    padding-left: 0;
    text-align: center;
  }

  .longnag h1{ /* dla wyjątkowo długich nagłówków, które trzeba lekko przydusić */
    padding:35px 40px;
    font-size:1.2rem;
  }
}

/* ============ COOKIES.HTML ============ */
.cookies{
  padding: 40px;
}

/* STOPKA */
.stopka-wrapper {
  background-color: #156e00;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 20px 50px;
  box-sizing: border-box;
}

.sekcja-stopki{
  flex: 1 1 30%;
  min-width: 250px;
  font-size: 0.95rem;
  line-height: 1.5;
  color:white;
}

.sekcja-stopki i {
  margin-right: 6px;
  min-width: 18px;
  text-align: center;
}

.sekcja-stopki h3 {
  margin-bottom: 40px;
}

.stopka-kolumna p {
  margin-bottom: 10px;
}

.sekcja-stopki a {
  color: white;
  text-decoration: none;
}

.sekcja-stopki a:hover {
  text-decoration: underline;
}

.the-very-bottom{
    text-align: center;
    background-color: #317919;
    color: white;
    padding: 10px 0;
}

/* =========== RESPONSYWNOŚCI I INNE ELEMENTY ============ */

@media (max-width: 768px) {
    .ficzerki-wrapper, .firma-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .ficzerek-box {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
  }
}

/*
  Plik przetestowany i w pełni zgodny z CSS3 wg W3C Validator.
  Data walidacji: 2025-12-26
  Walidator: https://jigsaw.w3.org/css-validator/
*/